# Cargo configuration for static linking of MSVC runtime
# This eliminates the dependency on vcruntime140.dll

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[target.i686-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
